<h1>出勤中社員一覧</h1>
<div>
  <table class="table table-bordered text-center table-condensed table-striped" id="index-attendance">
    <% if @users == [] %>
      <p>現在出勤中の社員はいません</p>
    <% else %>
    <thead>
      <tr>
        <th>在籍番号</th>
        <th>名前</th>
      </tr>
    </thead>
      <% @users.each do |user| %>
      <tbody>
        <tr>
          <td><%= user.employee_number %></td>
          <td><%= user.name %></td>
        </tr>
      </tbody>
      <% end %>
    <% end %>
  </table>
</div>