// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* 拠点情報一覧ページ */


/* 拠点情報編集モーダルウインドウ */

.label-site-info {
  margin-top: 5px;
}

.btn-site-info {
  margin: 15px 0;
  width: 30%;
}
