// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

/* ユーザー勤怠情報テーブル */

.btn-att_app {
  margin-top:10px;
}

.have_messages {
  color: red;
}

.overtime_message {
  border: solid 3px red;
  color: red;
  font-weight: bold;
}

.overtime_message:hover,
.overtime_message:link,
.overtime_message:visited,
.overtime_message:active {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

.master-message {
  padding-top: 1px;
}

.wday0 {
  color: red;
}

.wday6 {
  color: blue;
}


/* ユーザー情報下ボタン */
.btn_users-shows {
  margin-top: -10px;
}

.btn-users-get {
  margin-bottom: 10px;
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

.import-button {
  width: 260px;
  margin-top: 10px;
}

.index-page {
  button {
    height: 60px;
    width: 100px;
  }
  p {
    padding-top: 15px;
  }
}

#table-users {
  td {
    vertical-align: middle;
  }
}

/* 出勤中社員一覧ページ */

#index-attendance {
  text-align: center;
  th {
    text-align: center;
  }
  
}


/* 基本情報編集モーダルウインドウ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

/* 残業申請のモーダル */

#edit-overtime-motion-modal {
  tbody {
    th {
      text-align: center;
    }
    td {
      text-align: center;
      vertical-align : middle;
    }
  }
}

/* 残業申請の編集 */

#edit-overtime-message-modal {
  caption {
    color: black;
    font-size: 20px;
    text-align: center;
  }
  tbody tr:nth-child(even) {
    background: #eee;
  }
  th, td {
    text-align: center;
    word-break : break-all;
  }
}

.modal-dialog-center-overtime {
  padding-top: 10%;
  width: 60%;
}

.message-btn {
  text-align: center;
}