<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h3 class="modal-title center">【user.nameからの1ヶ月分勤怠申請】</h3>
    </div>
    <div class="modal-body">
      <table class="table table-bordered">
          <tr>
            <th>月</th>
            <th>支持者確認㊞</th>
            <th>変更</th>
            <th>勤怠を確認する</th>
          </tr>
      </table>
    </div>
  </div>
</div>

