<% provide(:class_text, 'edit--overtime-message') %>

<%= form_with(model: @user, url: attendances_update_overtime_message_user_path(@user), local: true, method: :patch) do |f| %>
  <div class="modal-dialog modal-lg modal-dialog-center">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
          <table class="table table-bordered" id="edit-overtime-message-modal">
                <h1>【<%= @overtime_users %>】</h1>
                <tr>
                  <th>日付</th>
                  <th>曜日</th>
                  <th>終了予定時間</th>
                  <th>指定勤務終了時間</th>
                  <th>時間外時間</th>
                  <th>業務処理内容</th>
                  <th>支持者確認</th>
                  <th>変更</th>
                  <th>勤怠を確認する</th>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
          </table>
      </div>
    </div>
  </div>
<% end %>