<% provide(:class_text, 'edit--overtime') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
        <table class="table table-bordered">
          <h1>【残業申請】</h1>
          <%= form_with(model: @user, local: true) do |f| %>
            <tr>
              <th>日付</th>
              <th>曜日</th>
              <th><%= f.label :finish_overtime, class: "label-#{yield(:class_text)}" %></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <td><%= l(@attendance.worked_on, format: :short) %></td>
              <td><%= $days_of_the_week[@attendance.worked_on.wday] %></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          <% end %>
        </table>
    </div>
  </div>
</div>